# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=Wolfit
DB_USER=postgres
DB_PASSWORD=9526

# Server Configuration
PORT=3001
NODE_ENV=development

# Google OAuth Configuration
GOOGLE_CLIENT_ID=386514389479-impprp7mgpalddmuflkvev582v8idjug.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
